.germanWrapper {
  display: flex;
  justify-content: center;
  font-size: 24px;
  flex-wrap: wrap;
}
.englishWrapper {
  display: flex;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  hyphens: auto;
  justify-content: center;
}
