.placeholder-wrapper {
  width: 120px;
  border-bottom: 1px solid #fff;
  margin: 0px 15px;
}
.word-placeholder {
  height: 40px;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 5px 10px;
  background-color: #fff;
  color: #000;
  margin-top: -14px;
}
.word-placeholder p { 
  font-size: 16px !important;
}
