.words-wrapper {
  display: flex;
  justify-content: center;
  margin: 40px auto;
  width: 80%;
  flex-direction: row;
  flex-wrap: wrap;
}
.word {
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  box-shadow: 0px 10px 6px 2px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: 0px 10px 6px 2px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 10px 6px 2px rgba(0, 0, 0, 0.29);
}
.blank-word {
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.231);
  color: rgba(0, 0, 0, 0);
}
