.tooltip-wrapper{
    margin-right: 10px;
}

.tooltip-wrapper:last-child{
    margin: 0;
}

.tooltip {
    position: relative;
    cursor: pointer;
    border-bottom: 2px dotted;
}
.tooltip-text {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    background-color: #fff;
    color: #000;
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.tooltip-text::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%);
    border: 15px solid;
    border-color: #fff rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}
.tooltip:hover .tooltip-text{
    top: -220%;
    visibility: visible;
    opacity: 1;
}
